<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type=text/css href="{{url_for('static', filename = 'bootstrap.min.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename = 'script.js')}}"></script>   
    
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks">
            <a href="{{url_for('index')}}">Home</a>
        </button>

        <button class="tablinks">
            <a href="{{url_for('list_puisi')}}">List Puisi</a>

        </button>
        <button class="tablinks" >
            <a href="{{url_for('about')}}">About</a>
        </button>
    </div>
</head>
<body>
    
</body>
</html>