{% include "header.html" %}
<h1>Generator Puisi:</h1>
<form name="my_form" action="" method="post" >
  <div>
    <label for="puisi">puisi</label>
    <textarea name="puisi" id="id_puisi" cols="30" rows="10">{{hasil_puisi}}</textarea>
  </div>

  <div>
    <label for="author">author</label>
    <input type="text" name="author" id="id_author">
  </div>
  <div>
    <label for="judul">judul</label>
    <input type="text" name="judul" id="id_judul">
    </div>
  <div>
    <button type="submit" >simpan</button>
  </div>
</form>
{% include "footer.html" %}